

html{
overflow: visible;
} 
body {

	font-family: "calibri";
    background: #efefef;
    padding: 32px;
    padding-top: 16px;
    color: #333;
}


.container {
    width:1000px;
    position: fixed;
}
.main_categories {    
    display: inline-block;
    float: left;
}
.main_content {    
    display: inline-block;
    position: absolute;
    float: left;
}
.questionsList{
 display: inline-block;
    float: left;
} 
.questionsBlock {    
    display: inline-block;
    position: absolute;
    float: left;
}
